# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Environments
.venv/
env/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build & egg-info
build/
dist/
*.egg-info/
